body {
	background: #ddd;

}

.title {
 	font-size: 25px;\
 	letter-spacing: 2px;
	color: #222 !important;
	background: rgba(255,255,255,0.8);
	padding: 15% 0%;
	font-weight: 700;
	border-radius: 100%;
	width: 500px;
	margin: 10px auto;
	border: 2px solid #222;
}

.image1 {
	border: 2px solid #fff;
	padding: 10px;
	border-radius: 10px;
}